<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <%-include("./partials/head.ejs") %>
    <link href="/css/blog_views.css" rel="stylesheet">
</head>

<body>
    <header>
        <%-include('./partials/header.ejs')%>
    </header>
    <div id="banner">
        <img src="/img/blog2.png" alt="">
    </div>

    <section>
        <div class="wrapper">
            <article>
                <h1 class="title"><%=article.titre%></h1>
                <blockquote cite="lorem">
                    <%=article.article%>
                </blockquote>
            </article>

            <div class="tools">
                <button class="like">Like</button>
                <a href="/<%=article._id%>/comment"><button>comment</button></a>
            </div>


                <% if(article.comments && article.comments.length > 0){%>
                    <div class="comment-div">
                        <h3>Commentaires:</h3>
                        <% for(comment of article.comments){%>

                            <% if(comment.time) {%>
                                 <div class="cmt">
                                <h4 class="cmt-user"><%=comment.user%></h4>
                                <blockquote>
                                   <%= comment.commentaire%>
                                </blockquote>
                                <% if(comment.time) {%>
                                    <small>
                                    <%=comment.time.day%>-<%=comment.time.month%>-<%=comment.time.year%>
                                    </small>
                                <%}%>
                               
                            </div>
                            <%}%>
                           
                        <%}%>
                       
                    </div>
                <%}%>
        </div>
    </section>

</body>

</html>