<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <%- include("./partials/head.ejs") %>
        <link href="css/index.css" rel="stylesheet"> 
    </head>
    <body>
        <header>
              <%- include ("./partials/header.ejs") %>
        </header>

        <section id="carte-section">

            <% for (article of articles){%>

                <a href="/blog/<%= article._id %>" class="carte-container">
                    <div class="carte">
                        <div class="img-zone">
                            <%if(article.image){%>
                                <img src="/img/<%=article.image%>" alt="Blog photo">
                            <%}%>
                        </div>

                        <div class="text-zone">
                          <h1 class="title" style="color:black"><%=article.titre.slice(0,20)+"..."%></h1>
                          <blockquote class="extrait">
                              <%=article.article.substring(0,article.article.indexOf('.')+1)%>
                              <h5 class="indice">Cliquer pour lire la suite</h5>
                          </blockquote>
                        </div>
                    </div>
                </a>

            <%}%>
           
           

            
        </section>
    </body>
</html>