<%- include ("partials/header") %>

<div class="main">
    <div id="compt">
        <div class="views ps">
            <h3>Total des likes de la page</h3>
            <p>0 vues</p>
        </div>
        <div class="likes ps">
            <h3>Total des vues de la page</h3>
            <p>0 vues</p>
        </div>
    </div>
    <% if(locals.articles) {%>
    <% let arts = JSON.stringify(articles) %>
    <% let artss = JSON.parse(arts) %>
    <table>
        <thead>
            <% for(let art in artss[0]) {%>
            <th><%=art%></th>
            <% } %>
            <th>Actions</th>
        </thead>
        <tbody>
            <% for(let i = 0;i<artss.length;i++) {%>
            <tr>
                <% for(let ar in artss[i]) {%>
                <% if(ar != "__v") {%>
                <td><%= artss[i][ar]%></td>
                <% } %>
                <% } %>
                <td><a href="/admin/mod/<%= artss[i]["_id"]%>" class="mod">Modifier</a><a class="del"
                        href="/admin/cfremove/<%= artss[i]["_id"]%>">Supprimer</a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <% } %>
</div>

<%- include ("partials/footer") %>